<main class="form100-container">
    <div class="form100-content">
        <div class="form100-logo-wrapper">
            <span class="form100-logo"></span>
        </div>
        <div class="form100-frame">
            <div class="form100-border __top __left"></div>
            <div class="form100-border __top __right"></div>
            <div class="form100-header">
                <p>
                    <span><strong>ВІТАЄМО!</strong> Ви&nbsp;отримаєте <strong>100&nbsp;грн бонусів</strong></span>
                    <span>на&nbsp;Ваше наступне замовлення.</span>
                    <span>Щоб&nbsp;отримати&nbsp;їх заповніть форму нижче.</span>
                </p>
            </div>
            <div class="form100-form-wrapper">
                <form class="form100-form" id="form100">

                    <div class="form100-input-container validation-item">
                        <input type="text" name="form100-name" class="form100-input __check-blur">
                        <label class="form100-label">ім&rsquo;я*</label>
                    </div>

                    <div class="form100-input-container validation-item">
                        <input type="tel" name="form100-phone" class="form100-input __check-blur input-phone">
                        <label class="form100-label">телефон*</label>
                    </div>

                    <div class="form100-input-container validation-item">
                        <input type="email" name="form100-email" class="form100-input __check-blur">
                        <label class="form100-label">e&#8209;mail*</label>
                    </div>

                    <div class="form100-input-container">
                        <input type="text" name="form100-birthday" class="form100-input __check-blur input-date">
                        <label class="form100-label">дата народження</label>
                    </div>

                    <div class="form100-input-container validation-item">
                        <input type="checkbox" class="form100-checkbox" id="check-rules" name="form100-rules">
                        <label for="check-rules" class="form100-checkbox-label">
                            <span>Я&nbsp;приймаю умови акції*</span>
                        </label>
                    </div>

                    <div class="form100-remark">
                        <p>*обовязково для&nbsp;заповнення</p>
                    </div>

                    <div class="form100-input-container __button">
                        <button type="submit" class="form100-submit">
                            <span>Відправити</span>
                        </button>
                    </div>

                </form>
            </div>
            <div class="form100-element-wrapper">
                <span class="form100-element"></span>
            </div>
            <div class="form100-border __bottom __left"></div>
            <div class="form100-border __bottom __right"></div>
        </div>
    </div>
</main>
