// Fonts
$font-reg: Helvetica, Arial, sans-serif;

// Colors
$c-none: transparent;
$c-light: #fff;
$c-default: #000;
$c-bgrey: #252525;
$c-form: #7a7a7a;
$c-green: #91b306;
$c-green-alt: #8c9f3f;
$c-green-hover: #c8d982;
$c-error: crimson;
$c-error-hover: #ed899d;

// Time
$time: .2s;
